<basket>
    <item>
        <description>Test Product</description>
        <quantity>5</quantity>
        <unitNetAmount>8.29</unitNetAmount>
        <unitTaxAmount>1.66</unitTaxAmount>
        <unitGrossAmount>9.95</unitGrossAmount>
        <totalGrossAmount>49.75</totalGrossAmount>
    </item>
    <deliveryGrossAmount>1.50</deliveryGrossAmount>
    <hotel>
        <checkIn>2014-03-11</checkIn>
        <checkOut>2014-03-18</checkOut>
        <numberInParty>2</numberInParty>
        <guestName>Guest</guestName>
        <folioRefNumber>123456</folioRefNumber>
        <confirmedReservation>Y</confirmedReservation>
    </hotel>
</basket>